<div class="discuss">
<div class="forms">
	<form method="post" id="comments" action= "/post">
Title: <input type="title" name="title" value="bla">
<input type="submit" value="Submit">


			</form>
			<textarea name="comment" form ="comments">
</textarea>
		</div>
		<h1>Posts</h1>


{{#if posts}}
{{#each posts as |post|}}
<div class = "post" id={{post.id}}>
	
	<h3>{{post.title}}</h3>
	
	<p>{{post.content}}yes</p>
	
	<form method="post" action="/reply" id={{post._id}}>
		<input type="hidden" value={{post._id}} name="id">
		<input type="comments" value="" name="comments">
		<input type="submit" value="Submit Reply">
	
	</form>

</div>

<div class="replies">
	<ul>
		{{#each replies as |reply|}}
		
    <li>
    	{{reply.content}}
    	{{reply.replies}}
    	
	<form method="post" action="/reply" id={{reply._id}}>
		<input type="hidden" value={{reply._id}} name="id">
		<input type="comments" value="" name="comments">
		<input type="submit" value="Submit Reply">
	</form>
   
</li>
 {{/each}}
   <ul>
</div>
{{/each}}
{{/if}}
</div>